main {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: inline-block;
    margin-bottom:5px;
}

input {
    width:86vw;
    margin-bottom: 10px;
    border: 1px solid gray;
    background-color: gainsboro;
}

#description-input {
    height: 60px;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.col0, .col1, .col2, .col3, .col4, .col5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.input_wrapper {
    margin-top: 10px;
}

.word-input-div {
    width:16.3vw;
    height:3vh;
    border: 1px solid gray;
    background-color: gainsboro;
    margin-left: 5px;
}

button {
    margin-top: 20px;
    width: 86.7vw;
    height: 5vh;
    background-color: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}