@import "styles.css";

body {
    background-color: white;
}

.puzzle_popup {
    width:  80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30%;
    left: 30%;
}

.popup_top {
    width: 40vh;
}  

.puzzle_popup {
    width: 40vh;
}

.popup_top > input {
    width: 300px;
    height: 50px;
}

.puzzle_popup .popup_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.puzzle_popup button {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    background-color: aqua;
}

.container_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.container_wrapper > .left_side_container, .container, .right_side_container  {
    margin-right: 20px;
}

.container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
}

.container h2 {
    display: inline-block;
    margin-top: -4px;
}

.container small {
    display: inline-block;
    margin-bottom: 20px;
}

.puzzle-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 5px;
}

.puzzle-letter {
    width: 40px;
    height: 36px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 20px;
}

.user_ranking {
    margin-top: 8px;
    width: 20vw;
    height: 41vh;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 20px;    
}

.word_list {
    width: 20vw;
    height: 43vh;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 20px;
}